@page 

<h1>
    Hi Solange.....
    <p>
        @{
        var i = 2+2;
        }
       <b>Party at @i+pm</b> 
    </p>
</h1>

<!-- page directive at top is very necessary , otherwise url http://localhost:5000/solange wont work for this. -->